* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 71% auto;
    grid-template-rows: 60px 100%;
    grid-template-areas: "header header"
                         "contenido menu";
}

/* ........................ Header .................... */
.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .contenedor-logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    color: #000;
}

.header .contenedor-logo .logo .fas {
    background: #ff0000;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 4px;
}

.header .contenedor-logo .logo {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.header .contenedor-logo .boton-menu:hover{
    background: #E7E7E7;
}

.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busqueda input{
       min-width: 60%;
       padding: 0 15px;
       height: 35px;
       line-height: 35px;
       border: 1px solid #ccc;
       font-size: 16px;
       font-family: 'Open Sans', sans-serif;
       outline: none;
    }

.header .barra-busqueda button {
    height: 35px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-left: none;
    color: #ccc;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;
}

.header .barra-busqueda button:hover {
    background: #f5f5f5;
}

.header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #000;
    margin-right: 20px;
    cursor: pointer;

}

.header .botones-header button:hover {
    background: #E7E7E7;
}

.header .botones-header .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header .botones-header .avatar img{
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}
/* ........................ Menú lateral.................... */

.menu-lateral {
    grid-area: contenido;
    display: grid;
    grid-template-rows: 550px auto;
    grid-template-areas: "video" "info";
    background: #f9f9f9;
    padding: 25px;
}

.menu-lateral .video {
    grid-area: video;
}

.menu-lateral .info {
    grid-area: info;
    margin-top: 20px;

}

.menu-lateral .info .arriba {
    display: grid;
    width: 100%;
    height: 90px;
    grid-template-rows: 15px 40px 35px;
    grid-template-areas: "tendencia" "titulo" "likes";
}

.menu-lateral .info .arriba .tendencia {
    grid-area: tendencia;
    width: 100%;
    font-size: 12px;
    color: #065fd4;
    padding: 1px 3px;
}

.menu-lateral .info .arriba .titulo {
    grid-area: titulo;
    width: 100%;
    padding: 8px 3px;
    font-family: serif;
    
}

.menu-lateral .info .arriba .likes {
    grid-area: likes;
    width: 100%;
    color: #747474;
    padding-top: 15px;
    padding-left: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
.menu-lateral .info .abajo {
    display: grid;
    width: 100%;
    height: 50px;
    justify-content: right;

}

.menu-lateral .info .abajo button {
    width: 100px;
    height: 35px;
    background: #CC0000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
    font-size: 12px;
    cursor: pointer;
    
}


.menu-lateral .info hr{
    margin: 10px;
    color: #ccc;

}

/* ........................ Main.................... */

.main {
    grid-area: menu;
    display: grid;
    background: #f9f9f9;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 2px;
    padding-bottom: 25px;
    grid-template-rows: 30px auto;
    grid-template-areas: "siguiente" "sugeridos";
}

.main .siguient {
    grid-area: siguiente;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    grid-template-rows: 100%;
    grid-template-areas: "sig fra sig_2";
    padding: 4px;
    margin-bottom: 10px;

}

.main .siguient .sig{
    display: grid;
    grid-area: sig;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px ;
}

.main .siguient .fra{
    display: grid;
    grid-area: fra;
    font-size: 15px;
    justify-content: right;
    align-content: center;
    color: #9e9e9e;
    font-family: 'Roboto', sans-serif;
}

.main .siguient .sig_2{
    display: grid;
    grid-area: sig_2;
    justify-content: left;
    position: relative;
    align-content: center;
    margin-left: 5px;
    margin-top: 2px;
}

.main .sugeridos{
    display: grid;
    border: 1px solid #000;
    padding: 4px;
    margin-top: 8px;
    grid-template-columns: auto;
    grid-template-rows: 117px 117px 117px 117px 117px 117px;
    grid-template-areas: "sug_0" "sug_1" "sug_2" "sug_3" "sug_4" "sug_5" ;

}
/* sug */
.main .sugeridos .sug_0 {
    display: grid;
    grid-area: sug_0;
    background: #3f51b5;
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";

}

.main .sugeridos .sug_0 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_0 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
}

/* sug */
.main .sugeridos .sug_1 {
    display: grid;
    grid-area: sug_1;
    background: #747474;
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";
}

.main .sugeridos .sug_1 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_1 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
}

/* sug */
.main .sugeridos .sug_2 {
    display: grid;
    grid-area: sug_2;
    background: #3f51b5;   
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";
}

.main .sugeridos .sug_2 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_2 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
}

/* sug */
.main .sugeridos .sug_3 {
    display: grid;
    grid-area: sug_3;
    background: #747474;
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";
}

.main .sugeridos .sug_3 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_3 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
}

/* sug */
.main .sugeridos .sug_4 {
    display: grid;
    grid-area: sug_4;
    background: #3f51b5;
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";
}

.main .sugeridos .sug_4 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_4 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
}

/* sug */
.main .sugeridos .sug_5 {
    display: grid;
    grid-area: sug_5;
    background: #747474;
    margin-bottom: 8px;
    grid-template-columns: 170px auto;
    grid-template-rows: 109px;
    grid-template-areas: "video texto";
}

.main .sugeridos .sug_5 .videos {
    grid-area: video;
    display: grid;
    border: 1px solid #000;

}

.main .sugeridos .sug_5 .text {
    grid-area: texto;
    display: grid;
    border: 1px solid #000;
    border-left: none;
}


:root {
    --color-green: #ccc;
    --color-red: #ccc;
    --color-button: #3f51b5;
    --color-black: #000;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 33px;
    height: 18px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(15px);
}